<h2>Enter Your New Part: </h2>

<form action="/new" method="post">
	<label>Part Name: </label>
	<input type="text" name="name" id="name"><br></br>
	<label>Serial Number: </label>
	<input type="text" name="serial_number" id="serial_number"><br></br>
	<label>Quantity: </label>
	<input type="integer" name="quantity" id="quantity"><br></br>

	<h2>Manufacturers:</h2>
	<% @manufacturers.all.each do |manufacturer| %>
		<li><input type="checkbox" id="manufacturer_<%= manufacturer.id%>" name="part[manufacturer_ids][]" value="<%= manufacturer.id %>"><%= manufacturer.name %></input></li>
	<% end %>
	<br></br>
	<h2>Or Create a New Manufacturer:</h2>
		<input type="text" name="manufacturer[name]" id="new_manufacturer">

	<br></br>
	<input type="submit" name="submit" value="Submit">

</form>