<h2>Enter Your New Part: </h2>

<form action="/new" method="post">
	<label>Part Name: </label>
	<input type="text" name="name" id="name">
	<label>Serial Number: </label>
	<input type="text" name="serial_number" id="serial_number">
	<label>Quantity: </label>
	<input type="integer" name="quantity" id="quantity">
	<label>Manufacturer: </label>
	<input type="text" name="manufacturer" id="manufacturer">

	<input type="submit" name="submit" value="Submit">

</form>