<h2>Enter Your New Part: </h2>

<form action="/new" method="post">
	<label>Part Name: </label>
	<input type="text" name="name" id="name"><br></br>
	<label>Serial Number: </label>
	<input type="text" name="serial_number" id="serial_number"><br></br>
	<label>Quantity: </label>
	<input type="integer" name="quantity" id="quantity"><br></br>
	<input type="text" name="manufacturer" id="manufacturer">
	<br></br>

	<input type="submit" name="submit" value="Submit">

</form>