<h2>Sign up:</h2>

<form action="/signup" method="post">


	<div class="field<%= ' field_with_errors' if @user.errors[:username].any? %>">
	<label>Username:</label>
	<input type="text" name="username" id="username"><br>

	</div>

	<br><br/>
	<label>Email:</label>

	<input type="text" name="email" id="email"><br>
	<% if flash.has?(:message) && flash[:message][:email] %>
  		<%= flash[:message][:email] %>
	<% end %>
	<br><br/>
	<label>Password:</label>

	<input type="password" name="password" id="password"><br>
	<% if flash.has?(:message) && flash[:message][:password] %>
  		<%= flash[:message][:password] %>
	<% end %>
	<br><br/>
	
	<input type="submit" name="submit" value="Submit">

</form>