<!DOCTYPE html>
<html>
  <head>
    <title>Parts Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
  	<div class="wrapper">
    <%= yield %>
  	</div>
  </body>
</html>